/* Container for the whole page */
.booking-page-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr; /* Left, middle, right layout */
  height: 100vh;
}

/* Left and right sections */
.booking-left-section,
.booking-right-section {
  background-color: #b8490e;
  height: 100%;
}

/* Middle section */
.booking-middle-section {
  background-color: white;
  padding: 20px;
  overflow-y: auto; /* In case content exceeds the height */
}

/* Existing form styles */
.booking-container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.booking-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.booking-form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.booking-form-group label {
  color: #b8490e;
  margin-bottom: 5px;
  font-weight: bold;
}

.booking-form-group input,
.booking-form-group select,
.booking-form-group textarea {
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.booking-form-group textarea {
  resize: vertical;
  height: 100px;
}

.booking-button {
  padding: 10px 20px;
  background-color: #b8490e;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all ease-in-out ;
}

.booking-button:hover {
  letter-spacing: 0.05em;
    background-color: #f65f0e;
    box-shadow: 0 0 10px #b8490e;
}

.booking-trek-price {
  margin-top: 10px;
  font-size: 1.5em; 
  color: #b8490e; 
  font-weight: bold; 
  padding: 5px; 
  border: 1px solid #b8490e; 
  border-radius: 5px; 
  background-color: rgba(184, 73, 14, 0.1); 
  text-align: center; 
  align-items: center;
}


.liability-waiver-label {
  display: flex;
  align-items: center; /* Aligns checkbox and text vertically */
  white-space: nowrap; /* Prevents the text from breaking into multiple lines */
  color: #b8490e; 
  font-weight: bold;
}

.booking-liability-checkbox {
  margin-left: 10px; /* Space between text and checkbox */
}
