/* styles/LandingPage.css */

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
  }
  
  .landing-page {
    text-align: center;
  }
  
  /* Hero Section */
  .hero {
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  
  .hero-content {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
  }
  
  .hero h1 {
    font-size: 3rem;
    margin: 0;
  }
  
  .hero p {
    font-size: 1.5rem;
  }
  
  .cta-button {
    background-color: #b8490e;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 30px;
    transition: all ease-in-out ;
  }
  
  .cta-button:hover {
    letter-spacing: 0.05em;
    background-color: #f65f0e;
    box-shadow: 0 0 10px #b8490e;
  }
  /* Trek Information Section */
  .trek-info {
    font-family: serif;
    padding: 50px 0;
    background-color: #f8f9fa;
  }
  
  .trek-info h2 {
    color: #b8490e;
    font-weight: bold;
    font-size: 3.5rem;
    margin-bottom: 20px;
  }
  
  .trek-info p {
    font-size: 2rem;
    line-height: 1.6;
  }
  
  /* Highlights Section */
  .highlights {
    font-family: serif;
    padding: 30px 0;
    background-color: white;
  }
  
  .highlights .container {
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .highlights h2 {
    color: #b8490e;
    font-weight: bold;
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .highlight-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .highlight-card {
    width: 30%;
    padding: 15px 15px 0px 15px;
    background-color: #f8f4ea;
    margin: 10px;
    font-family: serif;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .highlight-card:hover
  {
    background-color: #f8eccf;
  }
  .highlight-card h3 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .highlight-card p {
    font-size: 1.3rem;
    line-height: 1.5;
  }
  
  /* Call to Action Section */
  .call-to-action {
    padding: 20px;
    background-color: #b8490e;
    color: white;
  }
  
  .call-to-action h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  .call-to-action .cta-button {
    background-color: white;
    color: #b8490e;
    /* padding: 10px 20px; */
    margin-bottom: 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
  }
  
  .call-to-action .cta-button:hover {
    background-color: #e9ecef;
    letter-spacing: 0.05em;
    box-shadow: 0 0 10px #b8490e;
  }
  