 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../assets/login.jpg') no-repeat center center fixed;
    background-size: cover;
}

.wrapper 
{
    width: 420px; 
    background: transparent; 
    color: #fff;
    border: 2px solid rgba(255,255,255,.2);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(255,255,255,.2);
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper h1
{
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box
{
    position: relative;
    width: 100%;
    height: 50px;
    background: transparent;
    margin: 30px 0;
    color: white;
}

.input-box input 
{
    color: #fff;
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 2px solid white;
    border-radius: 40px;
    padding: 20px 45px 20px 20px;
    transition: 0.1s;
}


.input-box input::placeholder
{
    color: #fff;
}
.input-box input:hover
{
    font-size: 15px;
}
.input-box .icon
{
    position: absolute;
    right: 20px;
    top: 35%;
    transform: translate(-50%);
    font-size: 16px;
}

.wrapper .remember-forgot
{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input
{
    accent-color: #fff;
    margin-right: 4px;
}

.remember-forgot a
{
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover
{
    text-decoration: underline;
}

.wrapper button
{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 700;
    &:hover
    {
    transition: background-color 0.2s ease;
    cursor: pointer;
    background-color: #ddd;
    }
}

.wrapper .register-link
{
    font-size: 14.5px;
    text-align: center;
    margin : 20px 0 0px;
}

.register-link p a
{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover
{
    text-decoration: underline;
}

.small-button {
    display: block;
    margin: 10px 0;
    width: 100px;
    height: 35px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor: pointer;
    font-size: 12px;
    color: #333;
    font-weight: 700;
    transition: background-color 0.2s ease;
    text-align: center;
}

.small-button:hover {
    background-color: #ddd;
}
