  .trek-section {
    display: flex;
    align-items: center;
    margin: 20px 0;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    border: 3px solid grey;
  }
  
  .trek-section img:hover {
    transform: scale(1.02);
  }
  
  .trek-image img {
    padding: 10px;
    width: 100%;
    border-radius: 30px;

  }
  
  .trek-details {
    flex: 2;
    padding: 20px;
  }
  
  .trek-details h2 {
    color: #ff6600;
    margin-bottom: 10px;
  }
  
  .trek-details p {
    color: #555;
    line-height: 1.6;
  }
  