/* UpdateProfile.css */

.updated-profile-bg {
  background-color: #b8490e;
  padding: 100px 0;
}

.updated-profile-content {
  max-width: 900px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.8); /* White background with opacity */
  padding: 20px;
  border-radius: 10px;
}

.updated-profile-title {
  color: #b8490e;
  text-align: center;
  margin-bottom: 20px;
}

.updated-profile-details {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.updated-profile-detail {
  flex: 1;
  min-width: 200px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.updated-profile-detail h2 {
  font-weight: bold;
  color: #b8490e;
  margin: 0;
  font-size: 1.2em;
}

.updated-profile-detail p {
  margin: 5px 0;
}

.updated-profile-loading,
.updated-profile-error {
  text-align: center;
  margin-top: 20px;
}
